@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 244, 248, 248;
  --background-end-rgb: 244, 248, 248;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F4F8F8;
}
